/*fuente del logo*/
$logo-font: "Indie Flower", cursive;

/*fuente contenido*/
$normal-font: "IBM Plex Mono", monospace;

/*font size nav*/
$nav-size: 13px;

/*colores*/
$logo-color: red;
$submenu-color: grey;


